<div class="card">
  <div class="card-header">
    <h1>Meus pedidos</h1>
  </div>

  <div class="card-body">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
      <% @checkouts.each do |checkout| %>
        <tr>
          <td><%= link_to checkout.id, checkout_path(checkout) %></td>
          <td><%= checkout.created_at %></td>
          <td><%= checkout.status %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
