<div class="card">
  <div class="card-header">
    <h1>Editar categoria</h1>
  </div>

  <div class="card-body">
    <%= render 'form' %>
  </div>

  <div class="card-footer">
    <%= button_to 'Apagar', @category, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>

