<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= image_tag @category.image.url, class: 'category-img' %>
      </div>
    
      <div class="col">
        <div class="row">
          <div class="col-md-3"><h4>Nome da categoria:</h4></div>
          <div class="col-md-9"><h4><%= @category.name %></h1></div>
        </div>
      </div>
    </div>

    <div class="row">
      <%= link_to 'Editar', edit_category_path(@category) %>
    </div>
  </div>
</div>
