<div class="card">
  <div class="card-header">
    <h1>Cadastrar novo produto</h1>
    <p class="card-description">O preenchimento de todos os campos é obrigatório</p>
  </div>

  <div class="card-body">
    <%= render "form" %>
  </div>
</div>
